<div class="box">

    <!-- Attribute Directive -->
    <p [ngStyle]="style">Our Specials: </p>

    <span> Pasta </span>
    <br>

    <!-- Structural Directive -->
    <!-- <span *ngIf="isWeekend()"> It's Weekend there is Pizza </span> -->
    <!-- <span *ngIf="!isWeekend()"> It's not Weekend there is Sushi </span> -->

    @if( isWeekend() ){
        <span> It's Weekend there is Pizza </span>
    }@else{
        <span> It's not Weekend there is Sushi </span>
    }

    
    <br>  
    <!-- <span *ngFor="let d of desserts">{{ d.name }} 🍮</span> -->
    @for( d of desserts; track d.id ){
        <span >{{d.name }} 🍮</span>
    }

</div>

