.EditEmployee {
    margin: auto;
    margin-top: 20px;

    width: max-content;

    & .input {
        margin-bottom: 10px;
    }

    .validation {
        /* margin-top: 10px; */
        color: red;
    }
}