.List {
	
}

.select-wrap{
    text-align: center;
    margin-bottom: 20px;
}

.select-wrap select{
    padding: 5px 20px;
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    max-width: 850px;
    margin: auto;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(11, 65, 123);
    color: white;
}
