.search_box{
    max-width: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

table{
    max-width: 650px;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

td, th{
    padding: 15px 5px;
    border: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}